section.footer
	.container
		.inline-layout
			.profile
				h4 Мой профиль
				ul
					li
						a(href="#") Войти
					li
						a(href="#") Регестрация
					li
						a(href="#") Рекомендации исполнителям
					li
						a(href="#") Рекомендации заказчикам
			.foot-nav
				ul
					li
						a(href="#") Проекты
					li
						a(href="#") Мастера
					li
						a(href="#") Заказчики
			.foot-how
				h4 Как это работает
				ul
					li
						a(href="#") 1. Добавте свой проект
					li
						a(href="#") 2. Сравните предложения
					li
						a(href="#") 3. Начните сотрудничать
					li
						a(href="#") 4. Оставить отзыв
			.foot-socials
				h4 Поделится
				ul.inline-layout
					li
						a(href="#")
							img(src="img/icons/vk.png", alt="")
					li
						a(href="#")
							img(src="img/icons/fb.png", alt="")
					li
						a(href="#")
							img(src="img/icons/odn.png", alt="")
