section.header
	.top-line
		.container
			.line-wrap.no-soc
				.inline-layout
					.brand-holder
						a(href="#") ЛОГО
					.nav-holder
						a(href="#").mobile-nav-btn#mobile-nav-btn
							span
							span
							span
						nav.nav
							ul
								li
									a(href="#") ПРОЭкты
								li
									a(href="#") Фрилансеры
								li
									a(href="#") ЗАказчики
					.mon
						span 80$
				.personal-area
					a(href="#")
						span Роман Королев
						.image-holder
							img(src="img/icons/user.png", alt="")
									

					

									
						


