section.header
	.top-line
		.container
			.line-wrap
				.brand-holder
					a(href="#") ЛОГО
				.inline-layout
					.nav-holder
						a(href="#").mobile-nav-btn#mobile-nav-btn
							span
							span
							span
						nav.nav
							ul
								li
									a(href="#") ПРОЭкты
								li
									a(href="#") Фрилансеры
								li
									a(href="#") ЗАказчики
					.login-holder
						form(action="")
							.inline-layout
								input(type="text", placeholder="ЛОГИН")
								input(type="text", placeholder="ПАРОЛЬ")
								button.button Войти
					.top-registration
						.inline-layout
							a(href="#").button.orng Регистрация
							span  ИЛИ
							.socials
								ul.inline-layout
									li
										a(href="#")
											img(src="img/icons/vk.png", alt="")
									li
										a(href="#")
											img(src="img/icons/fb.png", alt="")
									li
										a(href="#")
											img(src="img/icons/odn.png", alt="")
									

					

									
						


