doctype html
html(lang='ru')
	head
		title how-or-ua

		include ./partials/head.jade

	body
		include ./partials/noscript.jade


		include ./partials/top-line.jade

		section.register
			.container
				.for-customers
					h4 
						|Как зарабатывать or.ua
					.circles-block.inline-layout.col-3
						.circle-block.left
							.circle
								span Регестрируетесь на сервисе
						.circle-block
							.circle
								span Заполняеете информациюо себе
						.circle-block.right
							.circle.bott
								span Находете подходящий заказ
					.how-description
						p
							|Выполняя проекты, ты получаешь работы в портфолио, деньги, рейтинг и повышаешь доверие заказчиков
					.circles-block.inline-layout.col-3
						.circle-block.left
							.circle.none
								span Получаете оплату  и отзыв
						.circle-block
							.circle.left
								span Выполняете работу
						.circle-block.right.last
							.circle.left.last
								span Связываетесь с заказчиком
					.how-description.mobile
						p
							|Выполняя проекты, ты получаешь работы в портфолио, деньги, рейтинг и повышаешь доверие заказчиков
					.start-search
						a(href="#").button.green Регистрация










				
							


							
		include ./partials/footer.jade

		include ./partials/scripts.jade
