doctype html
html(lang='ru')
	head
		title register-page-freelancer

		include ./partials/head.jade

	body
		include ./partials/noscript.jade


		include ./partials/top-line.jade

		section.register
			.container
				.for-customers
					h4 
						|Выбор исполнителей на fl.ru —  выполнение работы в срок с оплатой после результата!
					.info-blocks.inline-layout
						.image-holder
							img(src="img/icons/block-1.png", alt="")
						.image-holder
							img(src="img/icons/block-2.png", alt="")
						.image-holder
							img(src="img/icons/block-3.png", alt="")
						.image-holder
							img(src="img/icons/block-4.png", alt="")
					.get-info
						p
							|Получите доступ к более чем 1,5 млн. фрилансеров
					.start-search
						a(href="#").button.green Начать подбор исполнителей










				
							


							
		include ./partials/footer.jade

		include ./partials/scripts.jade
