doctype html
html(lang='ru')
	head
		title i-am-master

		include ./partials/head.jade

	body
		include ./partials/noscript.jade


		include ./partials/top-line.jade

		section.register
			.container
				.for-customers
					h4 
						|Фрилансеры зарабатывают из любого места и в удобное для себя время
					.info-blocks.inline-layout
						.image-holder
							img(src="img/icons/block-8.png", alt="")
						.image-holder
							img(src="img/icons/block-7.png", alt="")
						.image-holder
							img(src="img/icons/block-6.png", alt="")
						.image-holder
							img(src="img/icons/block-5.png", alt="")
					.get-info
						p
							|Выполняя задания заказчиков, опытные фрилансеры зарабатывают 120 000–150 000 рублей в месяц
					.start-search
						a(href="#").button.green Узнать как зарабатывать or.ua










				
							


							
		include ./partials/footer.jade

		include ./partials/scripts.jade
