doctype html
html(lang='ru')
	head
		title main

		include ./partials/head.jade

	body
		include ./partials/noscript.jade


		include ./partials/top-line.jade

		section.main-top(style="background-image: url(img/content/otdelka-i-remont.jpg)")
			.container
				.main-content-header
					h2 Заголовок
					h3  Под заголовок
				.text-content
					.inline-layout.col-2
						.fl-description
							h4 Фрилансер
							p
								|Фрилансер — свободный работник, частный специалист, который может одновременно выполнять заказы для разных клиентов. Термин фрилансер впервые употребляется Вальтером Скоттом в романе «Айвенго» для описания «средневекового наёмного воина».
						.btns-holder
							a(href="#").button.green Я мастер
							a(href="#").button.yell Я Заказчик

		section.how-made
			.container
				.made-header
					.w-holder.top-radius
						.work-panel
							ul.inline-layout.col-3
								li
									.work-item
										.image-holder
											img(src="img/icons/progs.png", alt="")
										span Проэкты
								li
									.work-item
										.image-holder
											img(src="img/icons/flrs.png", alt="")
										span Фрилансеры
								li
									.work-item
										.image-holder
											img(src="img/icons/customers.png", alt="")
										span Заказчики

						h3 Как это работает?

				.made-content
					.w-holder.clear.bottom-radius
						ul.made-steps
							li
								.step
									span.number 1
									.text-holder
										h4 Добавьте свой проэкт
										p
											|Опишите задачу и пожелания для потенциальных исполнителей. Мы моментально оповестим всех фрилансеров о вашей заявке.
							li
								.step
									span.number 2
									.text-holder
										h4 Сравните предложения
										p
											|Уже через пару минут исполниетели начнут предлагать свои услуги. Оцените  предложения по цене, срокам.
							li
								.step
									span.number 3
									.text-holder
										h4 Начните сотрудничать
										p
											|Выберите понравившееся предложение и фрилансер начнет работу
							li
								.step
									span.number 4
									.text-holder
										h4 Напишите отзыв
										p
											|После завершения сотрудничества напишите отзыв о работе. Это повлияет
						.fl-search
							a(href="#").button.green Найти исполнителя


		section.statistics
			.container
				.stats-holder
					.inline-layout.col-2
						.st-col
							.st-item
								.w-holder
									h4 ТОП-10 мастеров
									ul
										li 1. Филатов Владимер 
										li 2. Валим кульков
										li 3. Лукушен Кирилл 
										li 4. Королёв Роман 
										li 5. Коломейцев Роман
										li 6. Байденко Никита 
										li 7. Гречин Костя 
										li 8. Захаров Вадим
										li 9. Беловол Артем
										li 10. Дьяченко Александр
						.st-col
							.st-item.serv-stat
								.w-holder
									h4 Статистика сервиса
									ul.stats-list.inline-layout.col-3
										li
											.stats-item
												p 2802
												span Открытых проэктов
										li
											.stats-item.top
												p 2802
												span Открытых проэктов
										li
											.stats-item
												p 2802
												span Открытых проэктов
							.st-item.socials
								.w-holder
									h4 Поделится
									ul.inline-layout.col-3
										li
											a(href="#")
												img(src="img/icons/vk.png", alt="")
										li
											a(href="#")
												img(src="img/icons/fb.png", alt="")
										li
											a(href="#")
												img(src="img/icons/odn.png", alt="")


		section.fl-description
			.container
				.w-holder
					.des-header
						h2 Fl.ru — крупнейшая русскоязычная биржа удаленной работы
					.text-holder
						.inline-layout.col-2
							.text-col
								h4 Для тех, кому нужен специалист (фрилансер)
								p
									|У нас вы можете найти лучших фриланс специалистов среди 1 млн исполнителей, зарегистрированных на сайте FL.ru. Программисты, дизайнеры, художники, копирайтеры, юристы, бухгалтеры, инженеры, фотографы - тысячи удаленных сотрудников по любым freelance специализациям. Вам достаточно опубликовать проект, конкурс или вакансию - и заинтересованные фрилансеры сами предложат свои услуги, помогут вам сформировать задание, определить бюджет и сроки выполнения работы. Останется только выбрать лучшего исполнителя из числа откликнувшихся фриланс специалистов и начать с ним сотрудничество.Если же совсем нет времени на проекты, вы можете быстро найти и заказать нужную услугу (с фиксированной ценой и сроком выполнения) в нашем каталоге услуг. А также выбрать удаленных специалистов в каталоге, оценив их портфолио с представленными работами - и в 2 клика предложить заказ. FL.ru за безопасность freelance сотрудничества!
									br
									|Используйте наш сервис "Безопасная сделка" с резервированием суммы на сайте для сотрудничества с фрилансерами - и мы гарантируем вам возврат средств, если работа будет выполнена некачественно и/или не в срок. Хороших вам исполнителей!
								.btn-holder
									a(href="#").button.orng Опубликовать проект и найти исполнителя
							.text-col
								h4 Тем, кто ищет работу на дому (фрилансерам)
								p
									|Для вас ежедневно свыше 1500 фриланс проектов, конкурсов и вакансий с поиском исполнителей. Если вы ищете удаленную работу фрилансером и умеете создавать сайты, писать тексты, администрировать, консультировать, оказывать freelance услуги на дому - добро пожаловать на сайт FL.ru.Начиная работу с нашим сайтом, вам прежде всего необходимо заполнить портфолио фрилансера, добавив примеры успешно выполненных вами проектов и заказов. Указать в профиле всю необходимую информацию о своих навыках и опыте, добавить контактные данные.Фрилансерам для получения работы рекомендуем регулярно просматривать ленту проектов, отвечая на подходящие вам предложения - в случае заинтересованности заказчики обязательно предложат вам сотрудничество по freelance проектам с дальнейшим выполнением работы.Чтобы повысить шансы получить работу, также рекомендуем фрилансеру оформить и добавить на сайт все свои услуги, описав их и указав стоимость и срок выполнения того или иного объема работ. И не забудьте приобрести аккаунт PRO - сервис, который значительно расширит возможности вашего фриланс профиля и поможет привлечь еще больше выгодных заказов. Успешного поиска работы!
								.btn-holder
									a(href="#").button.green Стать мастером и найти работу






				
							


							
		include ./partials/footer.jade

		include ./partials/scripts.jade
