doctype html
html(lang='ru')
	head
		title register-member

		include ./partials/head.jade

	body
		include ./partials/noscript.jade


		include ./partials/top-line-no-socials.jade

		section.register
			.container
				.register-form
					form(action="")
						h3 Настройки
						.form-header
							span Заполните информацию о себе
						.form-body
							.inline-layout
								.left-side
									.form-group
										label(for="") Имя
										input(type="text", placeholder='Роман')
								.right-side
									.form-group
										label(for="") Фамилия
										input(type="text", placeholder='Королев')
								.form-group.full-w
									label(for="") Телефон
									input(type="text", placeholder='+380932596725')
								.form-group.full-w
									label(for="") Skype
									input(type="text", placeholder='romankorolev343')
								.form-group.full-w
									label(for="") Электронная почта 
									input(type="text", placeholder='rudy.fox343@gmail.com')
								.left-side
									.form-group
										label(for="") Опыт работы (в годах) 
										input(type="text", placeholder='3 года')
									.form-group
										label(for="") Страна
										input(type="text", placeholder='Украина')
									.form-group
										label(for="") Город
										input(type="text", placeholder='Луганск')
								.right-side
									.form-group
										label(for="") Пол
										input(type="text", placeholder='мужской')
									.form-group
										label(for="") Область
										input(type="text", placeholder='Луганская')
									.form-group
										label(for="") Район
										input(type="text", placeholder='Камбродский')
								.form-group.full-w
									label(for="") Информация о вас
									textarea#rted(placeholder="Навыки, опыт, специализация....")
								.add-photo
									label(for="") Аватар
									.image-holder
									.fake-input
										input(type="file")
										span Выбрать изображение
						.works-type
							h3 Выберите спецыальность
							.inline-layout
								.left-col
									.select-table
										.table-head
											span Строительство
										.table-body
											ul
												li Специальность 1
												li Специальность 2
												li Специальность 3
												li Специальность 4
												li Специальность 5
												li Специальность 6
												li Специальность 7
												li Специальность 8
												li Специальность 9
												li Специальность 1
												li Специальность 2
												li Специальность 3
												li Специальность 4
												li Специальность 5
												li Специальность 6
												li Специальность 7
												li Специальность 8
												li Специальность 9
												li Специальность 1
												li Специальность 2
												li Специальность 3
												li Специальность 4
												li Специальность 5
												li Специальность 6
												li Специальность 7
												li Специальность 8
												li Специальность 9
												li Специальность 1
												li Специальность 2
												li Специальность 3
												li Специальность 4
												li Специальность 5
												li Специальность 6
												li Специальность 7
												li Специальность 8
												li Специальность 9
												li Специальность 1
												li Специальность 2
												li Специальность 3
												li Специальность 4
												li Специальность 5
												li Специальность 6
												li Специальность 7
												li Специальность 8
												li Специальность 9
								.right-col
									.select-table.orange
										.table-head
											span Строительство
										.table-body
											ul
												li Специальность 1
												li Специальность 2
												li Специальность 3
												li Специальность 4
												li Специальность 5
												li Специальность 6
												li Специальность 7
												li Специальность 8
												li Специальность 9
												li Специальность 1
												li Специальность 2
												li Специальность 3
												li Специальность 4
												li Специальность 5
												li Специальность 6
												li Специальность 7
												li Специальность 8
												li Специальность 9
												li Специальность 1
												li Специальность 2
												li Специальность 3
												li Специальность 4
												li Специальность 5
												li Специальность 6
												li Специальность 7
												li Специальность 8
												li Специальность 9
												li Специальность 1
												li Специальность 2
												li Специальность 3
												li Специальность 4
												li Специальность 5
												li Специальность 6
												li Специальность 7
												li Специальность 8
												li Специальность 9
												li Специальность 1
												li Специальность 2
												li Специальность 3
												li Специальность 4
												li Специальность 5
												li Специальность 6
												li Специальность 7
												li Специальность 8
												li Специальность 9
						.btn-holder
							button.button.green Сохранить








				
							


							
		include ./partials/footer.jade

		include ./partials/scripts.jade
