doctype html
html(lang='ru')
	head
		title work-page

		include ./partials/head.jade

	body
		include ./partials/noscript.jade


		include ./partials/top-line-personal.jade

		section.register
			.container
				.work-form
					.work-header
						span Ремонт квартиры
						.socials
							span Поделиться:
							ul.inline-layout
								li
									a(href="#")
										img(src="img/icons/vk.png", alt="")
								li
									a(href="#")
										img(src="img/icons/fb.png", alt="")
								li
									a(href="#")
										img(src="img/icons/odn.png", alt="")
					.project-info
						.budget-rate
							span Бюджет
								b по договоренности
						.personal
							.image-holder
								img(src="img/icons/add-photo-bg.png", alt="")
							h5 RudyFox
							span Отзывы мастеров
								a(href="#").green +0
								a(href="#").red +0
							p Зарегестрирован на сайте меньше месяца
					.project-status
						h4 Исполнитель проекта пока не выбран.

						h5 Рекомендуем вам:
						p
							|Из числа ответивших фрилансеров определить нескольких кандидатов (претендентов на выполнение работы).
						p
							|По результатам общения с кандидатами определить одного исполнителя.Как только исполнитель подтвердит участие в проекте, начать с ним сотрудничество.Получить от исполнителя результат работы.                     Завершить проект и обменяться отзывами.
						.areas
							h6 Разделы
							ul.inline-layout
								li
									a(href="#") Главная специальность
								li
									a(href="#") Под-раздел
					.project-progress
						.inline-layout.col-3
							.progress-item
								a(href="#")
									.image-holder
										img(src="img/icons/user-q.png", alt="")
									.text-holder
										p Не определился
										span 44
								a(href="#").sentence 33 новых
									span.mobile-hide предложений
							.progress-item
								a(href="#")
									.image-holder
										img(src="img/icons/user-x.png", alt="")
									.text-holder
										p Вы отказали
										span 3
							.progress-item
								a(href="#")
									.image-holder.type-3
										img(src="img/icons/user-v.png", alt="")
									.text-holder
										p Исполнитель
										span 0
					.comments-holder
						.comment-item
							.comment-heading
								.image-holder
									img(src="img/icons/c1.png", alt="")
								.user
									a(href="#") Igor Zinchenko [denzel_94]
								.prof
									span Специализация:
									span Системное администрирование(CMS)
								.rate
									span Отзывы роботодателей: 
										a(href="#").green +79
										a(href="#").red -4
								.btns-holder
									a(href="#").button.red Отказать
									a(href="#").button.green Выбрать 
										span.mobile-hide исполнителем
							.comment-body
								.head
									h5 Павел Володин [pashabomber]
										span.date [19.18.2016 | 16:07]
								.content
									p Добрый день!
									p Покажите макеты для оценки? Примеры моих версток  вы можете посмотреть в портфолио 
										a(href="#")  www.fl.ru/users/pashabomber
								.comment-act
									ul.inline-layout
										li
											a(href="#") Написать ответ
										li
											a(href="#") Посмотреть портфолио
						.comment-item
							.comment-heading
								.image-holder
									img(src="img/icons/c1.png", alt="")
								.user
									a(href="#") Igor Zinchenko [denzel_94]
								.prof
									span Специализация:
									span Системное администрирование(CMS)
								.rate
									span Отзывы роботодателей: 
										a(href="#").green +79
										a(href="#").red -4
								.btns-holder
									a(href="#").button.red Отказать
									a(href="#").button.green Выбрать 
										span.mobile-hide исполнителем
							.comment-body
								.head
									h5 Павел Володин [pashabomber]
										span.date [19.18.2016 | 16:07]
								.content
									p
										|Здравствуйте. Есть хороший и удобный движок, один из лучших среди бесплатных – OpenCart. Есть все необходимые для работы функции. 
									p
										|Cверстаю, установлю на движок, помогу с настройкой, вышлю инструкцию к админке. Скайп begebor  
										a(href="#")  www.fl.ru/users/pashabomber
									p
										|Последние выполненные на Опенкарте проекты:
										br
										a(href="#") dolcebaby-butik.ru/
										br
										a(href="#") dizainokna.ru/ 
										br
										a(href="#") xenon-lampa.ru/ 
										br
										a(href="#") profingenerservice.ru/ 
										br
										a(href="#") уюткомплект.рф/
										br
										a(href="#") gomogenat.ru/




								.comment-act
									ul.inline-layout
										li
											a(href="#") Написать ответ
										li
											a(href="#") Посмотреть портфолио

						.comment-item
							.comment-heading
								.image-holder
									img(src="img/icons/c1.png", alt="")
								.user
									a(href="#") Igor Zinchenko [denzel_94]
								.prof
									span Специализация:
									span Системное администрирование(CMS)
								.rate
									span Отзывы роботодателей: 
										a(href="#").green +79
										a(href="#").red -4
								.btns-holder
									a(href="#").button.red Отказать
									a(href="#").button.green Выбрать 
										span.mobile-hide исполнителем
							.comment-body
								.head
									h5 Игорь Мишаков [stratev_design]
										span.date [19.08.2016 | 16:07]
								.content
									p Здравствуйте, верстаю css3, less, sass, кроссбраузерность, адаптивность, валидация. Если надо + программинг.
								.comment-act
									ul.inline-layout
										li
											a(href="#") Написать ответ
										li
											a(href="#") Посмотреть портфолио
							.user-portfolio
								ul.inline-layout.col-3
									li
										a(href="#")
											.image-holder
												img(src="img/content/portfolio-1.png", alt="")
									li
										a(href="#")
											.image-holder
												img(src="img/content/portfolio-2.png", alt="")
									li
										a(href="#")
											.image-holder
												img(src="img/content/portfolio-3.png", alt="")

					.next-page
						a(href="#") Следующая страница










				
							


							
		include ./partials/footer.jade

		include ./partials/scripts.jade
